@import "@style/common";
.wrp {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  // max-width: 124rem + 4rem + 4rem;
  min-height: 100%;
  margin: 0 auto;
  padding: 4rem 0 2.4rem 0;
  @include mobile-big {
    padding: 2.4rem 0 1.6rem 0;
  }
}
.head {
  margin-bottom: 2rem;
  @include mobile-big {
    margin-bottom: 2.6rem;
  }
}
.center {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
.content {
  flex-grow: 1;
  width: 100%;
  max-width: 132rem;
  padding-top: 62px;
  padding-right: 4rem;
  padding-left: 4rem;
  @media (max-height: 1000px - 1px) {
    padding-top: 0;
  }
  @include mobile-big {
    margin-right: -1.8rem;
    margin-left: -1.8rem;
  }
}
.top {
  @include mobile-big {
    padding-right: 1.8rem;
    padding-left: 1.8rem;
  }
}
.progress {
  margin-top: 4rem;
  @include mobile-big {
    margin-top: 2.4rem;
  }
}
.chat {
  margin-top: 4rem;
  @include mobile-big {
    margin-top: 2.4rem;
  }
}
.link {
  margin-top: 3.7rem;
  margin-right: auto;
  margin-left: auto;
  @include tablet {
    margin-top: 3.2rem;
  }
}
