@import "@style/common";
.link {
  @include transition(color);
  display: block;
  width: max-content;
  font-family: $font-default;
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 400;
  text-align: center;
  color: $color-gray-376;
  &:hover,
  &:focus-visible {
    color: var(--acc-color, #{$acc-color-1});
    // color: $color-green-jungle-crayola;
  }
}
