@import "@style/common";
.wrp {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 100%;
  padding-top: 4rem;
  padding-bottom: 7rem;
  @include tablet {
    padding-top: 2.4rem;
    padding-bottom: 4rem;
  }
  @include tablet {
    height: auto;
  }
}
.head {
  margin-bottom: 14rem;
  @include tablet {
    margin-bottom: 5rem;
  }
}
