$color-gray-965: #f6f6f6; // hsl(0, 0%, 96.5%)
$color-gray-918: #eaeaea; // hsl(0, 0%, 91.8%)
$color-gray-816: #d0d0d0; // hsl(0, 0%, 81.6%)
$color-gray-376: #606060; // hsl(0, 0%, 37.6%)
$color-gray-094: #181818; // hsl(0, 0%, 09.4%)
$color-gray-004: #010101; // hsl(0, 0%, 00.4%)
// new
$color-gray-376: #606060; // hsl(0, 0%, 37.6%)
$color-gray-020: #333333; // hsl(0, 0%, 20.0%)

$color-white: #ffffff;
$color-black: #000000;

// tinkoff
$color-gridperlevy: #f6f7f8;
$color-manatee: #8e9aa7;
$color-periwinkle-crayola-2: #eef1f4;
$color-very-pale-blue: #eceef0;
$color-crayola-fern: #65be74;
$color-pastel-green: #77d186;
$color-brilliant-greenish-yellow: #ffdd2d;

// megafon
$color-pigment-green: #00b956;
$color-malachite: #0dc161;
$color-persian-indigo: #731982;

// common
$color-periwinkle-crayola: #eef9f9;
$color-green-jungle-crayola: #3eb0a1;
$color-green-jungle-crayola-2: #3dae9f;
$color-royal-blue: #4f46e5;
$color-rich-red-orange: #ffc55d;
$color-moderate-aquamarine: #57c4b6;
$color-crayola-trefoil: #45c7b6;
$color-cadet-blue-crayola: #c1c0cd;
$color-orange-crayola: #fe622e;

//
$acc-color-1: #211e53;
$acc-color-2: #294da5;

$acc-color-11: #009ae2;
$acc-color-22: #35bfff;

// gradient
$gradient-yellow: linear-gradient(180deg, #ffd589 0%, #ffc153 100%);
$gradient-green: linear-gradient(90deg, #3dae9f 0%, #45c8b6 100%);
