// fonts
$font-default: "Gilroy", sans-serif;

// breckpoints
$desktop-big-width: 1920px;
$desktop-width: 1240px;
$table-width: 1024px;
$mobile-big-width: 768px;
$mobile-width: 540px;
$mobile-small-width: 375px;

// container
$container-min-width: 375px;

// paddings
$padding: 10.8rem;
$padding-mobile: 2.4rem;
